/* Empty. Add your own CSS if you like */

/*.dynamic-background {
  background: url(../img/default-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}*/

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: transparent;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.person {
  text-align: center;

  color: #000;
  text-shadow: #fff 1px 1px;
  font-weight: bold;
}

.person-name {
  margin-bottom: 50px;
  font-size:28pt;
}

.time-table {
  width: 70%
}
.time-table td {
  padding: 4px 0px;
}
td.time-label {
  width: 25%;
  font-size: 8pt;
  text-align: right;
}
.time-value {
  /*width: 80%;*/
  text-align: center;
  font-size: 19pt;
}
